distribution_code_name: "fcitx-rime"
distribution_name: Rime
distribution_version: 5.1.12
install_time: "Fri Dec  5 19:14:23 2025"
installation_id: "BozePatience"
rime_version: 1.14.0
sync_dir: "{{ .chezmoi.homeDir }}/.boze/rime"
