[Unit]
Description=Aria2 Download Manager
After=network-online.target
Wants=network-online.target
[Service]
Type=simple
ExecStart=/usr/bin/aria2c --conf-path=%h/.config/aria2/aria2.conf
Restart=on-failure
RestartSec=5
WorkingDirectory=%h
[Install]
WantedBy=default.target
