[user]
	name = boze
	email = boze3141@gmail.com
{{- if ne .chezmoi.hostname "BozeApex" }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[credential]
	helper = store
{{- end }}
