{{- $passphrase := promptStringOnce . "passphrase" "passphrase" -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}
encryption: gpg
data:
  BozePC: BozePatience
  BozeCompany: BozeYX
  email: boze462@gmail.com
  passphrase: {{ $passphrase | quote }}
gpg:
  symmetric: true
  args:
    - --batch
    - --passphrase
    - {{ $passphrase | quote }}
    - --no-symkey-cache
merge:
  command: nvim
  args:
    - -d
    - {{ printf "%q" "{{ .Source }}" }}
    - {{ printf "%q" "{{ .Destination }}" }}
    - {{ printf "%q" "{{ .Target }}" }}
diff:
  # pager: "difft --color=always"
  pager: "bat --style=numbers,changes --paging=always"
