{{- $passphrase := promptStringOnce . "passphrase" "passphrase" -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}
encryption: gpg
umask: 0o022  # 确保创建的文件是 644，目录是 755
data:
  BozePC: BozePatience
  BozeCompany: BozeYX
  email: boze462@gmail.com
  passphrase: {{ $passphrase | quote }}
gpg:
  symmetric: true
  args:
    - --batch
    - --passphrase
    - {{ $passphrase | quote }}
    - --no-symkey-cache
merge:
  command: nvim
  args:
    - -d
    - {{ printf "%q" "{{ .Source }}" }}
    - {{ printf "%q" "{{ .Destination }}" }}
    - {{ printf "%q" "{{ .Target }}" }}
diff:
  pager: delta
edit:
  command: nvim
