// Niri Configuration for CachyOS
// 完整文档: https://github.com/YaLTeR/niri/wiki

// 环境变量 | Environment Variables
// include "config/00-env.kdl"

include "config/01-input.kdl"

// 显示器配置 | Output Configuration
include "config/02-output.kdl"

// 布局设置 | Layout Settings
include "config/03-layout.kdl"

// 快捷键绑定 | Key Bindings
include "config/04-binds.kdl"

// 自启动应用 | Startup Applications
include "config/05-startup.kdl"

// 动画设置 | Animation Settings
include "config/06-animations.kdl"

// 窗口规则 | Window Rules
include "config/07-rules.kdl"

// 杂项 | Misc
include "config/09-misc.kdl"

// 特殊 | Notalia
include "config/90-noctalia.kdl"
