{{- if eq .chezmoi.hostname "BozePatience" }}

// BozePatience
// spawn-at-startup "qs" "-c" "noctalia-shell"

{{- end }}

spawn-at-startup "qs" "-c" "noctalia-shell"

spawn-at-startup "polkit-kde-authentication-agent"
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"

