window-rule {
  match app-id="com.mitchellh.ghostty"
  default-column-width { proportion 0.33333; }
}

// Monster Hunter Wilds
window-rule {
  match title="Monster Hunter Wilds"
  match app-id="steam_app_2246340"

  open-fullscreen true

  open-on-output "Xiaomi Corporation Mi monitor 5323110156479"
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title=r#"Bitwarden"#
    open-floating true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

