[Unit]
Description=Attach DDC/CI devices to connected monitors
Documentation=https://gitlab.com/ddcci-driver-linux/ddcci-driver-linux
After=systemd-modules-load.service multi-user.target
Before=display-manager.service
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ddcci-attach.sh
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
